body{
    background-image: url(b.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-size:24px;
    line-height: 50px;
    font-style: bold ;
    font-variant: small-caps;  
}
h1{
    text-align: center;
    font-family: 'Concert One', serif;
    color: rgb(19, 34, 75);
    font-size: 50px;
}
legend,input[type="submit"],input[type="reset"]
{
    border: 2px solid rgb(10, 10, 10); 
    background-image: url(j.jpg);
    border-bottom-left-radius: 10px;
    border-top-right-radius: 30px;
    font-size: 30px;
    padding: 10px;
  font-family: 'Fuzzy Bubbles', cursive;
   font-weight: bolder;
   color: rgb(32, 121, 72);
}
fieldset
{
    margin:50px;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px ;
    background-color: rgba(0,0,0,0.5);
    padding: 12px,25px;
    border: black;
    
  
   
}
table{
    width: 100%;
}
td
{
   font-size: 20px;
    font-family: 'Marcellus SC', sans-serif;
    padding: 5px;
}
textarea
{
    width: 200px;
    border-radius: 5px;
    box-shadow: -1px -1px teal;
    font-weight: bold;
}
input[type="text"],input[type="number"],input[type="month"],input[type="date"],input[type="tel"],select
{

background-color: whitesmoke;
box-shadow: -1px -1px teal;
}
input[type="text"]:focus, input[type="number"]:focus,input[type="tel"]:focus,input[type="date"]:focus,
input[type="month"]:focus,input[type="time"]:focus,textarea:focus,select:focus
{
  background-color: rgba(197, 238, 241, 0.137);
  box-shadow:2px 2px 5px white;
  font-weight: bold;
}
input[type="radio"]:focus,input[type="checkbox"]:focus
{
 background-color:  rgba(0, 204, 255, 0.26);
 box-shadow:2px 2px 5px white; 
 font-weight: bold;
}
label{
    width:150px;
    display: inline-block; 
    
}
td
{
color:white;
}
.button:hover
{
 box-shadow:2px 2px 5px white; 

}
.hyd
{
   width: 150px;
   display: inline-block;
   
}